.cityImage {
    border: 5px solid whitesmoke;
}

.cityImageCard {
    margin: auto;
    height: 500px;
    width: 500px;
}

.dangerTextColor{
    color:whitesmoke !important;
    text-decoration: underline;
    font-weight: 500;
}

.textInfoCenter{
    margin: auto  !important;
}

.titleCountry {
    margin: auto;
    position: absolute;
    top: 50%;
    width: 100%;
}

agm-map {
    height: 300px;
  }