<div class="wrapper">
    <div class="page-header section-dark" style="background-color: #04264c;">
      <div class="content-center">
        <div class="container">
          <div class="title-brand">
            <h1 class="title dangerTextColor">Reisen sie nach {{cityName}}</h1>
            <br>
            <div class="card cityImageCard">
                <img class="cityImage" alt="" src="https://images.kiwi.com/photos/600x600/{{mapIDTo}}.jpg">
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
<div class="section section-dark section-summary">
    <div class="container">
        <div class="row" style="height: 140px;">
            <div class="card" style="width:100%; ">
                <div class="container" >
                    <div class="row titleCountry">
                        <div class="col-md-2 textInfoCenter">
                            <img src="https://www.countryflags.io/{{countryCode}}/flat/64.png">
                        </div>
                        <div class="col-md-10 textInfoCenter">
                            <h2 class="textInfoCenter">Informationen zu Ihrem Urlaubsziel</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card" style="width:100%">
                <agm-map [latitude]="lat" [longitude]="lng">
                    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
                </agm-map>
            </div>

            <div class="card" style="width:100%">
                <div class="card-body" style="margin: auto;">
                    <div class="col-md-8 ml-auto mr-auto text-center">
                        <h2 class="card-title">FLYSAVE: Zu Ihrer Sicherheit.</h2>
                        <br>
                        <h3>Laut der Einschätzung der Experten liegt die Risikostufe das Land zu besuchen bei <span style="font-weight: 500;">{{countryScore}}/5</span>.</h3>
                        <br>
                        <h3>Folgende Meldung gibt es hierbei: </h3>
                        <h3><span style="font-weight: 500;">{{advice}}</span></h3>
                        <br>
                        <button type="button" class="btn btn-round" (click)="openLink()">
                            Mehr Infos
                        </button>
                    </div>
                   
                    <br>
                    
                </div>
            </div>
            <div class="card" style="width:100%">
                <div class="card-body" style="margin: auto;">
                    <div class="col-md-8 ml-auto mr-auto text-center">
                        <h2 class="card-title">Ihre Flugverbindung für nur {{data.conversion.EUR}} €</h2>
                        <br>
                        <br>
                        <h3 class="card-title">Der Hinflug:</h3>
                        <br>
                        <div class="row">
                            <div class="col-md-5 ml-auto mr-auto text-center">
                                <img class="cityImage" alt="" src="https://images.kiwi.com/photos/600x600/{{mapIDFrom}}.jpg">
                            </div>
                            <div class="col-md-2 ml-auto mr-auto text-center"></div>
                            <div class="col-md-5 ml-auto mr-auto text-center">
                                <img class="cityImage" alt="" src="https://images.kiwi.com/photos/600x600/{{mapIDTo}}.jpg">
                            </div>
                            <div class="col-md-5 ml-auto mr-auto text-center">
                                <h2>{{data.cityFrom}}</h2>
                            </div>
                            <div class="col-md-2 ml-auto mr-auto text-center">
                                <h3>nach</h3>
                                <img class="resultlogo"
                                                                src="https://images.kiwi.com/airlines/32x32/{{data.route[0].airline}}.png"
                                                                alt="">
                            </div>
                            <div class="col-md-5 ml-auto mr-auto text-center">
                                <h2>{{data.cityTo}}</h2>
                            </div>
                        </div>
                        <br>
                        <br>
                        <div class="row">
                            <div class="col-md-5 ml-auto mr-auto text-center">
                                <h3>Abflugsdatum:</h3>
                            </div>
                            <div class="col-md-2 ml-auto mr-auto text-center"></div>
                            <div class="col-md-5 ml-auto mr-auto text-center">
                                <h3>{{timestampToDate(data.route[0].dTimeUTC)}}</h3>
                            </div>

                            <div class="col-md-5 ml-auto mr-auto text-center">
                                <h3>Abflug:</h3>
                            </div>
                            <div class="col-md-2 ml-auto mr-auto text-center"></div>
                            <div class="col-md-5 ml-auto mr-auto text-center">
                                <h3>{{timestampToTime(data.route[0].dTimeUTC)}} Uhr</h3>
                            </div>
                            
                            <div class="col-md-5 ml-auto mr-auto text-center">
                                <h3>Ankunft:</h3>
                            </div>
                            <div class="col-md-2 ml-auto mr-auto text-center"></div>
                            <div class="col-md-5 ml-auto mr-auto text-center">
                                <h3>{{timestampToTime(data.route[0].aTimeUTC)}} Uhr</h3>
                            </div>
                            
                            <div class="col-md-5 ml-auto mr-auto text-center">
                                <h3>Flugdauer:</h3>
                            </div>
                            <div class="col-md-2 ml-auto mr-auto text-center"></div>
                            <div class="col-md-5 ml-auto mr-auto text-center">
                                <h3>{{data.fly_duration}}</h3>
                            </div>

                        </div>

                        <br>
                        <br>
                        <h3 class="card-title"  *ngIf="checkForReturn() == true">Der Rückflug:</h3>
                        <br>
                        <div class="row"  *ngIf="checkForReturn() == true">
                            <div class="col-md-5 ml-auto mr-auto text-center">
                                <img class="cityImage" alt="" src="https://images.kiwi.com/photos/600x600/{{mapIDTo}}.jpg">
                            </div>
                            <div class="col-md-2 ml-auto mr-auto text-center"></div>
                            <div class="col-md-5 ml-auto mr-auto text-center">
                                <img class="cityImage" alt="" src="https://images.kiwi.com/photos/600x600/{{mapIDFrom}}.jpg">
                            </div>
                            <div class="col-md-5 ml-auto mr-auto text-center">
                                <h2>{{data.cityTo}}</h2>
                            </div>
                            <div class="col-md-2 ml-auto mr-auto text-center">
                                <h3>nach</h3>
                                <img class="resultlogo"
                                                                src="https://images.kiwi.com/airlines/32x32/{{data.route[1].airline}}.png"
                                                                alt="">
                            </div>
                            <div class="col-md-5 ml-auto mr-auto text-center">
                                <h2>{{data.cityFrom}}</h2>
                            </div>
                        </div>
                        <br>
                        <br>
                        <div class="row"  *ngIf="checkForReturn() == true" >
                            <div class="col-md-5 ml-auto mr-auto text-center">
                                <h3>Abflugsdatum:</h3>
                            </div>
                            <div class="col-md-2 ml-auto mr-auto text-center"></div>
                            <div class="col-md-5 ml-auto mr-auto text-center">
                                <h3>{{timestampToDate(data.route[1].dTimeUTC)}}</h3>
                            </div>

                            <div class="col-md-5 ml-auto mr-auto text-center">
                                <h3>Abflug:</h3>
                            </div>
                            <div class="col-md-2 ml-auto mr-auto text-center"></div>
                            <div class="col-md-5 ml-auto mr-auto text-center">
                                <h3>{{timestampToTime(data.route[1].dTimeUTC)}} Uhr</h3>
                            </div>
                            
                            <div class="col-md-5 ml-auto mr-auto text-center">
                                <h3>Ankunft:</h3>
                            </div>
                            <div class="col-md-2 ml-auto mr-auto text-center"></div>
                            <div class="col-md-5 ml-auto mr-auto text-center">
                                <h3>{{timestampToTime(data.route[1].aTimeUTC)}} Uhr</h3>
                            </div>
                            
                            <div class="col-md-5 ml-auto mr-auto text-center">
                                <h3>Flugdauer:</h3>
                            </div>
                            <div class="col-md-2 ml-auto mr-auto text-center"></div>
                            <div class="col-md-5 ml-auto mr-auto text-center">
                                <h3>{{data.fly_duration}}</h3>
                            </div>
                            <br><br><br><br>
                        </div>
                       
                        <button type="button" class="btn btn-round" (click)="openBooking()">
                           Zur Buchung
                        </button>
                    </div>
                   
                    
                </div>
            </div>
        </div>
        
    </div>
</div>


<footer class="footer fixed-bottom" style="background-color: #042c58; position:fixed; bottom:0px; width: 100%;">
    <div class="container">
        <div class="row">
            <nav class="footer-nav">

            </nav>
            <div class="credits ml-auto">
                <span class="copyright" style="color: white;">
                    © flySave, 2021
                </span>
            </div>
        </div>
    </div>
</footer>