<div class="wrapper">
    <div class="main">
        <div class="section section-overview">
            <div class="container-fluid">
                <div class="row">



                    <!--
                     <div class="col-sm-4">
                      <a routerLink="/app/generate">
                        <div class="card" style="background-color: white; height: 415px; border-style: solid; border-color: #fbc10f; border-width: 7px; color: #042c58 !important;"  >
                          <div class="card-body text-center">
                            <div class="card-icon">
                              <i class="nc-icon nc-settings-gear-65"></i>
                            </div>
                            <h4 class="card-title">Generieren</h4>
                            <p class="card-description">Generieren Sie über dieses Modul den Datensatz einer  Flugsuche</p>
                            <p class="card-description">Aus diesem Datensatz wird eine PDF erstellt</p>
                          </div>
                        </div>
                      </a>
                    </div>

                   -->

                    <div class="col-md-12 ">
                        <nav class="fixed-top" color-on-scroll="500">
                            <div class="card card-profile shadow mt--300" style="margin-top:0 !important;">
                                <div class="px-4">
                                    <div class="text-center mt-5">
                                        <h1>Flüge</h1>
                                        <br>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="space-top"></div>
                                            <div ngbDropdown class="dropdown">
                                                <div class="dropdown-toggle btn btn-round " style="border: none;"
                                                    ngbDropdownToggle>{{flightMode}}</div>
                                                <div ngbDropdownMenu class="dropdown-menu-right">
                                                    <a class="dropdown-item" (click)="switchMode('Hin- und Rückflug')">
                                                        Hin- und Rückflug</a>
                                                    <a class="dropdown-item" (click)="switchMode('Nur Hinflug')"> Nur
                                                        Hinflug</a>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-4">

                                            <button type="button" class="btn btn-round" (click)="open(small1, 'sm')">
                                                Anzahl der Passagiere: {{numberOfPass}}
                                            </button>
                                            <ng-template #small1 let-c="close" let-d="dismiss">
                                                <div class="modal-header no-border-header no-title">
                                                    <button type="button" class="close"
                                                        (click)="d('Cross click')">&times;</button>
                                                </div>
                                                <div class="modal-body text-center">
                                                    <div class="container">
                                                        <div class="form-group has-danger">
                                                            <div class="row">

                                                                <div class="col-md-12 text-center"
                                                                    style="padding-bottom: 5px;">
                                                                    <h3>Erwachsene</h3>
                                                                </div>

                                                                <button
                                                                    class="col-md-3 btn btn-outline-default btn-file btn-round text-center"
                                                                    (click)="decreasePassenger(true)">-</button>
                                                                <button
                                                                    class="col-md-6 btn btn-outline-default btn-file btn-round text-center">{{adults}}</button>
                                                                <button
                                                                    class="col-md-3 btn btn-outline-default btn-file btn-round text-center"
                                                                    (click)="increasePassenger(true)">+</button>

                                                            </div>
                                                            <div class="row" style="padding-top: 10px;">
                                                                <div class="col-md-12 text-center"
                                                                    style="padding-bottom: 5px;">
                                                                    <h3>Kinder</h3>
                                                                </div>

                                                                <button
                                                                    class="col-md-3 btn btn-outline-default btn-file btn-round text-center"
                                                                    (click)="decreasePassenger(false)">-</button>
                                                                <button
                                                                    class="col-md-6 btn btn-outline-default btn-file btn-round text-center">{{children}}</button>
                                                                <button
                                                                    class="col-md-3 btn btn-outline-default btn-file btn-round text-center"
                                                                    (click)="increasePassenger(false)">+</button>

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div *ngIf="!enoughPass" class="form-control-feedback danger">Bitte
                                                        wählen Sie mind. einen Passagier aus.</div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-link"
                                                        (click)="c('Close click')">Speichern</button>
                                                </div>
                                            </ng-template>


                                        </div>

                                        <div class="col-md-4">
                                            <button class="btn btnsearch btn-magnify btn-round mr-1"
                                                (click)="inputValidation()"><i class="nc-icon nc-zoom-split"></i>
                                                Flugsuche</button>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="  col-md-3 text-center col-sm-3">
                                            <div class="form-group ">
                                                <angular2-multiselect style="height: 95px;" [data]="dropdownList"
                                                    [(ngModel)]="selectedFromAirport" [settings]="dropdownSettings1"
                                                    (onSelect)="onItemSelect($event)"
                                                    (onDeSelect)="OnItemDeSelect($event)"
                                                    (onSelectAll)="onSelectAll($event)"
                                                    (onDeSelectAll)="onDeSelectAll($event)">
                                                </angular2-multiselect>
                                            </div>
                                            <div *ngIf="!fromInputValidation" class="form-control-feedback danger">Bitte
                                                wählen Sie einen Abflugflughafen aus.</div>
                                        </div>


                                        <div class="  col-md-3 text-center col-sm-3">
                                            <div class="form-group">
                                                <angular2-multiselect [data]="dropdownList"
                                                    [(ngModel)]="selectedToAirport" [settings]="dropdownSettings2"
                                                    (onSelect)="onItemSelect($event)"
                                                    (onDeSelect)="OnItemDeSelect($event)"
                                                    (onSelectAll)="onSelectAll($event)"
                                                    (onDeSelectAll)="onDeSelectAll($event)">
                                                </angular2-multiselect>
                                            </div>
                                            <div *ngIf="!toInputValidation" class="form-control-feedback danger">Bitte
                                                wählen Sie einen Ankunftflughafen aus.</div>
                                        </div>
                                        <div class="  col-md-6 text-center col-sm-3">
                                            <div class="row">
                                                <div class='col-sm-6'>
                                                    <div class="form-group ">
                                                        <div class='input-group date'>
                                                            <input class="form-control"
                                                                placeholder="Wählen Sie ein Hinflugdatum" name="dp"
                                                                [(ngModel)]="hinflugDateInput" ngbDatepicker
                                                                #d="ngbDatepicker" (click)="d.toggle();">
                                                            <div class="input-group-append">
                                                                <span class="input-group-text">
                                                                    <span class="glyphicon glyphicon-calendar"><i
                                                                            class="fa fa-calendar"
                                                                            aria-hidden="true"></i></span>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div *ngIf="!fromDateValidation"
                                                        class="form-control-feedback danger">Bitte wählen Sie ein
                                                        Hinflugsdatum aus.</div>
                                                </div>

                                                <div class='col-sm-6' *ngIf="flightMode === 'Hin- und Rückflug'">
                                                    <div class="form-group">
                                                        <div class='input-group date '>
                                                            <input class="form-control"
                                                                placeholder="Wählen Sie ein Rückflugdatum" name="dp"
                                                                [(ngModel)]="rueckflugDateInput" ngbDatepicker
                                                                #d="ngbDatepicker" (click)="d.toggle();">
                                                            <div class="input-group-append">
                                                                <span class="input-group-text">
                                                                    <span class="glyphicon glyphicon-calendar"><i
                                                                            class="fa fa-calendar"
                                                                            aria-hidden="true"></i></span>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div *ngIf="!toDateValidation" class="form-control-feedback danger">
                                                        Bitte wählen Sie einen Rückflugsdatum aus.</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </nav>
                        <section class="section">
                            <div class="container">

                                <div class="card card-profile shadow mt--300" style="padding-top: 30px;">
                                    <div class="px-4">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>Datum</th>
                                                    <th>Airline</th>
                                                    <th>Abflug</th>
                                                    <th>Ankunft</th>
                                                    <th>Preis</th>
                                                    <th>Auswahl</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let row of searchresults">
                                                    <td>
                                                        <div class="row "
                                                            [ngClass]="{'resultsrow' : flightMode === 'Hin- und Rückflug'}">

                                                            {{timestampToDate(row.route[0].local_departure)}}
                                                            ({{row.route[0].flyFrom}} - {{row.route[0].flyTo}} )

                                                        </div>
                                                        <div *ngIf="flightMode === 'Hin- und Rückflug'"
                                                            class="row resultsrow">
                                                            {{timestampToDate(row.route[1].local_departure)}}
                                                            ({{row.route[1].flyFrom}} - {{row.route[1].flyTo}} )
                                                        </div>
                                                    </td>
                                                    <td class="td-actions">
                                                        <div class="row" style="display: inline-flex;"
                                                            [ngClass]="{'resultsrow' : flightMode === 'Hin- und Rückflug'}">
                                                            <img class="resultlogo" 
                                                                src="https://images.kiwi.com/airlines/32x32/{{row.route[0].airline}}.png"
                                                                alt="">
                                                        </div>
                                                        <div *ngIf="flightMode === 'Hin- und Rückflug'"
                                                            class="row resultsrow" style="display: inline-flex;">
                                                            <img class="resultlogo" 
                                                                src="https://images.kiwi.com/airlines/32x32/{{row.route[1].airline}}.png"
                                                                alt="">
                                                        </div>
                                                    </td>

                                                    <td class="td-actions content-center">
                                                        <div class="row content-center"
                                                            [ngClass]="{'resultsrow' : flightMode === 'Hin- und Rückflug'}">
                                                            {{timestampToTime(row.route[0].local_departure)}}
                                                        </div>
                                                        <div *ngIf="flightMode === 'Hin- und Rückflug'"
                                                            class="row resultsrow">
                                                            {{timestampToTime(row.route[1].local_departure)}}
                                                        </div>
                                                    </td>

                                                    <td class="td-actions">
                                                        <span class="row"
                                                            [ngClass]="{'resultsrow' : flightMode === 'Hin- und Rückflug'}">
                                                            {{timestampToTime(row.route[0].local_arrival)}}
                                                        </span>
                                                        <span *ngIf="flightMode === 'Hin- und Rückflug'"
                                                            class="row resultsrow">
                                                            {{timestampToTime(row.route[1].local_arrival)}}
                                                        </span>

                                                    </td>

                                                    <td class="td-actions">{{row.price}} €</td>
                                                    <td class="td-actions">

                                                        <button class="btn btn-danger btn-round ml-auto mr-auto"
                                                            (click)="selectAndRedirect(row)">Auswählen</button>

                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>


                </div>
            </div>
        </div>
    </div>




    <footer class="footer fixed-bottom" style="background-color: #042c58; position:fixed; bottom:0px; width: 100%;">
        <div class="container">
            <div class="row">
                <nav class="footer-nav">

                </nav>
                <div class="credits ml-auto">
                    <span class="copyright" style="color: white;">
                        © flySave, 2021
                    </span>
                </div>
            </div>
        </div>
    </footer>