<nav class="navbar navbar-expand-lg fixed-top nav-down" color-on-scroll="500">
    <div class="container">
        <div class="navbar-translate">
            <img class= "logo"  [src]="imgSrc" style="height: 108px;" 
                routerLink="/app/flightsearch"
                (mouseover)="imgSrc = 'assets/img/flysave-logo-hover.png'"
                (mouseout)="imgSrc = 'assets/img/flysave-logo.png'"/>
        </div>
        
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <div ngbDropdown class="dropdown">
                        <div class="dropdown-toggle btn btn-round menu-dropdown" style="background-color: #042c58 ; color: white; border: none;" ngbDropdownToggle><i class="nc-icon nc-compass-05 dropdown-icon" style="color: white;  font-size: 2em;"></i><b class="caret"></b></div>
                        <div ngbDropdownMenu class="dropdown-menu-right">
                           <!--<a class="dropdown-item" routerLink="/app/generate">  <i class="nc-icon nc-settings-gear-65"></i> Generieren</a>--> 
                            <a class="dropdown-item" routerLink="/app/flightsearch" ><i class="nc-icon nc-bullet-list-67"></i>Flugsuche</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
