.navbar {
    background-color: #042c58 !important;
    height: 108px !important;
}

.nav-btns{
    padding-right: 30px;
    margin-right: 20px;
    background-color: azure;
    color: #042c58;
    border-color: azure;
}

.menu-dropdown:hover {
    background-color: white!important;
    color: #042c58  !important;
  }

  .menu-dropdown:hover > .dropdown-icon {
    color: #042c58  !important;
  }
