<div class="wrapper">
    <div class="main">
        <div class="section section-overview">
            <div class="container-fluid">
              <div class="row">
                  <div class="col-md-8 offset-md-2 text-center">
                          <div class="space-top"></div>
                    <h2 class="title"></h2>
                  </div>
                  <div class="container">
                  <div class="space-top"></div>
                    <div class="row">
          
                   <!--
                     <div class="col-sm-4">
                      <a routerLink="/app/generate">
                        <div class="card" style="background-color: white; height: 415px; border-style: solid; border-color: #fbc10f; border-width: 7px; color: #042c58 !important;"  >
                          <div class="card-body text-center">
                            <div class="card-icon">
                              <i class="nc-icon nc-settings-gear-65"></i>
                            </div>
                            <h4 class="card-title">Generieren</h4>
                            <p class="card-description">Generieren Sie über dieses Modul den Datensatz einer  Flugsuche</p>
                            <p class="card-description">Aus diesem Datensatz wird eine PDF erstellt</p>
                          </div>
                        </div>
                      </a>
                    </div>

                   -->           
                    <div class="col-sm-6">
                        <div class="card" style="background-color: white; height: 415px; border-style: solid; border-color: #042c58; border-width: 7px; color: #042c58 !important;"  >
                          <div class="card-body text-center">
                            <div class="card-icon">
                              <i class="nc-icon nc-bullet-list-67"></i>
                            </div>
                            <h4 class="card-title">Suche</h4>
                            <p class="card-description">Suchen Sie Ihren passenden Flug, oder halten Sie Ausschau nach den sichersten Ländern!</p>
                            <br>
                            <div class="container">
                                <div class="row">
                                  <div class="col-sm-6"><button class="btn btnsearch btn-magnify btn-round mr-1" routerLink="/app/flightsearch"><i class="nc-icon nc-zoom-split"></i> Flugsuche</button></div>
                                  <div class="col-sm-6"><button class="btn btnsearch btn-magnify btn-round mr-1" routerLink="/app/countrySearch"><i class="nc-icon nc-zoom-split"></i> Ländersuche</button></div>
                                </div>
                            </div>
                      
          
                          </div>
                        </div>
                    </div>
          
                      <div class="col-sm-6">
                        <a routerLink="/app/flightresult">
                          <div class="card" style="background-color: white; height: 415px; border-style: solid; border-color: #042c58; border-width: 7px; color: #042c58 !important;" >
                            <div class="card-body text-center" style="border: #042c58;">
                                              <div class="card-icon">
                                <i class="nc-icon nc-chart-bar-32"></i>
                              </div>
                              <h4 class="card-title">Suchanfragen</h4>
                                              <p class="card-description">Erhalten Sie eine Übersicht über Ihre letzten Suchanfragen.</p>
                            </div>
                          </div>
                        </a>
                    </div>         
                    </div>
                  </div>
                  </div>
            </div>
          </div>
    </div>
</div>


<footer class="footer" style="background-color: #042c58; position:fixed; bottom:0px; width: 100%;">
	<div class="container">
		<div class="row">
			<nav class="footer-nav">
				
			</nav>
			<div class="credits ml-auto">
                <span class="copyright" style="color: white;">
					© {{data | date: 'yyyy'}}, Version 0.0.1 made with <i class="fa fa-heart heart"></i> by adessoSE
				</span>
			</div>
		</div>
	</div>
</footer>
